*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #54AFBC;
}

.logo{
    display: inline;
    color: white;
    margin-left: 50px;
    line-height: 60px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

nav ul{
    float: right;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

nav li{
    display: inline-block;
    margin: 12px;
    font-size: 30px;
}

nav li a:hover{
    color:black;
    transition: 1s;
}

a{
    color: white;
    text-decoration: none;
}

.child1{
    background-color: #54AFBC;
    margin: 10px;
}

.report{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    text-decoration: underline;
}

.text{
    color: white;
    padding: 10px;
    font-size: 20px;
}
