* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
    color: #333;
    font-size: 40px;
    margin-left: 60px;
    font-weight: 700;
    text-decoration: non;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: goldenrod;
}

.nav-img {
    display: none;
}

.child1 {
    background-color: #54AFBC;
    border-radius: 30px;
    margin: 15px;
}

.report {
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    text-decoration: underline;
}

.title {
    color: white;
    padding: 25px 10px;
    font-size: 30px;
    text-decoration: underline;
}

.text {
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
    font-family: sans-serif;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.text1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

footer {
    background-color: #54AFBC;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 50px;
}

@media only screen and (max-width:605px) {
    .nav-img {
        display: block;
    }

    nav ul {
        display: none;
    }

    .logo {
        margin-left: 0;
    }
}