* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
    color: #333;
    font-size: 40px;
    margin-left: 60px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: goldenrod;
}

.nav-img {
    display: none;
}

.manager {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 40px;
    margin-top: 65px;
    animation-name: move-text;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes move-text {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 100;
    }
}

.date {
    font-size: 35px;
}

.head {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 550px;
    grid-template-columns: 500px auto auto;
}

.background {
    background-color: #54AFBC;
    height: 535px;
    margin: 10px;
    border-radius: 50px;
    animation-name: background;
    animation-duration: 6s;
    animation-timing-function: 1;
    animation-delay: 0s;
}

@keyframes background {
    from {
        height: 0px;
    }

    to {
        height: 535px;
    }
}

.title {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}

.list {
    color: white;
    padding: 30px 0px 0px 50px;
    font-size: 27px;
}

.point {
    list-style-type: square;
    margin: 18px;
}

@media (max-width:720px) {
    .nav-img {
        display: block;
    }

    .logo {
        margin-left: 0px;
        font-size: 30px;
    }

    .head {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .background {
        margin: 10px 50px;
        height: auto;
    }

    .list {
        font-size: 22.5px;
    }

    .manager {
        font-size: 25px;
    }

    .date {
        font-size: 20px;
    }

    nav ul {
        display: none;
    }
}

@media (max-width:450px) {
    .list {
        font-size: 20px;
    }

    .background {
        margin: 10px 20px;
    }
}

@media (max-width:325px) {
    .logo {
        margin-left: 0px;
        font-size: 30px;
    }

    .head {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .list {
        font-size: 19px;
    }

    .manager {
        font-size: 25px;
    }

    .date {
        font-size: 20px;
    }

    nav ul {
        display: none;
    }
}